body {
    margin: 0;
    background-color: white;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    min-width: 1100px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

header {
    margin: 92px 24px 92px 24px;
    background: white;
    display: flex; 
    align-items: center;
}

.header_menu {
    padding-left: 26px;
    padding-right: 36px;
    font-size: 18px;
    color: black;
}

.header__menu-item {
    display: inline; 

}

.list_marker-item {
    padding-left: 8px;
    padding-right: 5px;
    display: inline;
}

.header__menu-item_active_lot {
    display: inline;
    letter-spacing:  0.5px;
}

.list_marker-active {
    display: inline;
    padding-left: 2px;
}

.header__menu-item_active_auction {
    padding-left: 4px;
    display: inline;
    letter-spacing:  0.4px;

}

.line {
    text-decoration: none;
    border-bottom: 1px black solid;
}

address {
    font-family: "Raleway";
    font-size: 18px;
    color: black;
    line-height: 24.3px;
    padding-left: 195px;   

}

.line-number {
    text-decoration: none;
    border-bottom: 1px black solid;
}

.line-adress {
    text-decoration: none;
    border-bottom: 1px black solid;
}

.cover {
    min-width: 1100px;
    position: relative;
    background-size: cover;
    z-index: 0;  
}

.cover_title {
    display: flex;
}

.img_cover {
    display: block;
    background-image: url(../images/cover.jpg);
    background-size: cover; 
    background-position: -135px 1px;
    width: 1100px;
    height: 757px;
    z-index: 1;
}
  
.overlay {
    width: 1100px;
    height: 757px;
    background-color: rgb(0 0 0 / 0.6); 
    z-index: 2;
}

.cover__title {
    font-family: "Raleway";
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
}

.aligned-text {
    display: block;
    text-align: left;
    line-height: 115px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    line-height: 140px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    line-height: 100px;
    letter-spacing: 5px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-top: 135px;
}

.cover__description-text {
    display: flex;
    color: #FFF;
    text-align: left;
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    background: transparent;
    border: 1px solid #FFF;
    width: 257px;
    height: 52px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFF;
}

.lots {
    margin: 179px 24px 146px 24px;
}

.lots__heading {
    color: black;
    font-family: "Raleway";
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "lots__card-list-item-film lots__card-list-item-book lots__card-list-item-picture";
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    background-size: cover;
    padding-top: 25px;
    color: white;
}

.card__title {
    text-decoration: underline;
    color: white;
    text-align: left;
    padding-left: 37px;
    padding-top: 27px;
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.card__text {
    color: white;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 79px;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    width: 335px;
    height: 563px;
    text-align: center;
    padding-top: 26px;  

}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    width: 335px;
    height: 563px;
    text-align: center;
    padding-top: 26px;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    width: 335px;
    height: 563px;
    text-align: center;
    padding-top: 26px;
}

.lots__look-more-link {
    display: flex;
    padding-top: 32px;
    padding-left: 37px;
    color: black;
    text-align: left;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

.more-link-more {
    border-bottom: 1px black solid;
}


.about {
    display: grid;
    margin-top: 146px;
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: 240px 693px;
    grid-template-rows: 240px 449px;
    padding-left: 46px;
    padding-top: 37px;
    column-gap: 72px;
}

  .about__logo {
    align-items: center;
    border-radius: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-self: center;
    height: 240px;
    width: 240px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}


.about__column {
    padding-top: 100px;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    line-height: 46.96px;
    text-transform: uppercase;
    align-content: center;
}
  
.about__text {
    display: flex;
    padding-top: 100px;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.19px;
}

.footer {
    margin: 50px 50px 88px 50px;
    display: flex;
}

.adress-footer {
    font-family: "Raleway";
    font-size: 18px;
    color: black;
    line-height: 24.3px;
}

.line-number-footer {
    text-decoration: none;
    border-bottom: 1px black solid;
}

.line-adress-footer {
    text-decoration: none;
    border-bottom: 1px black solid;
}

.footer__menu-list {
    font-family: "Raleway";
    padding-left: 222px;
    padding-top: 2px;
    font-size: 18px;
    color: black;
    list-style-type: none;
}

.footer__menu-link_active {
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;
}

.footer__menu-link-lote {
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;
}

.footer__menu-link-about {
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;
}

.footer__social-list {
   list-style-type: none;
   padding-left: 130px;
}

.footer__menu-item {
    display: inline;
}

.footer__social-link {
    padding-left: 48px;
}

.footer__social-icon {
width: 48px;
height: 48px;
}
